body{
    background-image: url(../img/flock-of-birds-917494.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.content{
    background-color: white;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 10px;
}
.top-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#name h1{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.top-header p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 5px
}
.col-lg-6 img{
    border-radius: 50%;
        width: 300px;
        height: auto;
    box-shadow: 5px 10px #3cb3;
}

.contact-info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px; 
}
.col-lg-6{
    display: flex;
    justify-content: center
}

.col-lg-6 p{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.boxes-info{
    padding: 10px 0px;
    text-align: center;
    margin: 5px 5px;
}
.boxes-info h2{
    background-color: #88e1f2;
    color: white;
    padding: 10px;
    box-shadow: 3px 4px #888888;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold
}
.boxes-info h2:hover{
    box-shadow:
                3px 4px #888888;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.about-me-container{
    padding: 10px;
}

.contact-info a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.contact-info a:hover{
    color: darkturquoise;
    text-decoration: none;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #name h1{
        margin:5px 25%;
    }
}










